name: Build master and upload artifact on a schedule

on:
  schedule:
    - cron: "0 0 1 * *"
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build-and-archive:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-repo
        uses: actions/checkout@v4

      - name: build-repo
        uses: ./.github/actions/build-repo

      - name: Archive Sai2-urdfreader Artifact
        uses: actions/upload-artifact@v3
        with:
          name: sai2-urdfreader-artifact
          path: build/libsai2-urdf.a
